nav.navbar.navbar-dark.fixed-top.bg-dark.navbar-expand-md.navbar-expand-lg.navbar-expand-xl
  .row.mx-auto
    .col-md-2
      include navigation/header-partial
    .col-md-10
      include navigation/collapsable-elements-partial
