extends layouts/default

block content  
  #privacy-content 
    .col-lg-10.black-background.mx-auto 
      h1 South East Junior College Hockey League's Privacy Policy
      ol 
        li 
          | Any information collected by South East Junior College Hockey League will never be passed on to third parties for marketing purposes.
        li 
          | The information collected from our website is only used for website and traffic analysis and 
          | will not be used to approach website visitors.
        li 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        li 
          | By using our website and/or services, you consent to the collection and use of information by 
          | South East Junior College Hockey League as specified above.
        li 
          | Should you have any queries relating to our Privacy Policy, please 
          a(title='Contact Us' href='') contact us
          | .
