extends ../layouts/default

block content  
  #skaters-content
    .col-lg-10.black-background.rounded.mx-auto 
      h2 Events Content Here
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Curabitur in magna eu mauris feugiat gravida. Duis sed elit non mauris 
        | mattis convallis ac consequat leo. Suspendisse potenti. 
        | Nunc feugiat in ex sit amet pharetra. Aenean vitae scelerisque tellus. 
        | Praesent hendrerit feugiat ornare. Phasellus erat augue, scelerisque ut 
        | diam in, lacinia interdum lacus. Sed lacinia interdum ipsum, ac vehicula 
        | dui accumsan vitae. Phasellus vehicula enim ut quam hendrerit, et 
        | rhoncus sem tristique. Proin laoreet malesuada purus vel tempor.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Curabitur in magna eu mauris feugiat gravida. Duis sed elit non mauris 
        | mattis convallis ac consequat leo. Suspendisse potenti. 
        | Nunc feugiat in ex sit amet pharetra. Aenean vitae scelerisque tellus. 
        | Praesent hendrerit feugiat ornare. Phasellus erat augue, scelerisque ut 
        | diam in, lacinia interdum lacus. Sed lacinia interdum ipsum, ac vehicula 
        | dui accumsan vitae. Phasellus vehicula enim ut quam hendrerit, et 
        | rhoncus sem tristique. Proin laoreet malesuada purus vel tempor.  
